@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Wendy+One&display=swap');

:root {
    --paragraph-font: "Fuzzy Bubbles", "Wendy One", Helvetica, sans-serif;
}

.header {
    display: inline;
    background-color: #4F8EBA;
}

nav a {
    text-align: center;
}

#logo {
    max-width: 100px;
    max-height: 100px;
    text-align: left;
}

#brand {
    font-size: 4em;
    font-family: Helvetica;
    max-width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px; 
    left: 50%;
    top: 200px;
    margin-left: 40%;

    
}

.home-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(172, 172, 172);
    padding: 10px;
}

.grid-item {
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
/* 
* {
    border:1px solid red
} */
