@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Wendy+One&display=swap');

:root {
    --paragraph-font: "Fuzzy Bubbles", "Wendy One", Helvetica, sans-serif;
}


#content {
    max-width:100%;
    margin: 0 auto;
}

nav a {
    font-family: Helvetica;
    display: inline;
    padding: 25px;
}

.logo {
    max-width: 250px;
    margin: 0 auto;
    padding-left: 10px;
    display: inline;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: Helvetica;
    font-size: 1.5em;
    
}

.button-box {
    text-align: center;
    

}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #4F8EBA;
}

body {
    background-color: #4F8EBA;
    font-size: 22px;
}

header {
    background-color: #62DD5E;

}

nav a:hover {
    background-color: #E458A7;
}

.book, .join {
    background-color: #cada17;
    text-decoration: none;
    font-family: "Wendy One";
    font-size: 18px;
}

.book:hover, .join:hover {
    background-color: #E458A7;
}

.msg p {
    color: rgb(255, 255, 255);
    font-family: "Fuzzy Bubbles";
    font-size: .8em;
    line-height: 1.5em;

}

footer {
    background-color: #62DD5E;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    font-family: Helvetica;
    font-size: .90em;
}

footer p a:hover {
    text-decoration: underline;
}

.home-grid h2 {
    font-family: "Fuzzy Bubbles";
    color: #cada17;
    font-size: 2.0em;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.card-img {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;

}

.home-title {
    font-family: "Fuzzy Bubbles", "Wendy One", Helvetica, sans-serif;
    font-size: 2em;
}

* {
    border:1px solid red
}