/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Poppins&family=Tsukimi+Rounded:wght@500&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #27296d   ;
  --secondary-color: #5e63b6 ;
  --accent1-color: #a393eb;
  --accent2-color: #f5c7f7;

  /* change the values below to your chosen font(s) */
  --heading-font: "Baskervville";
  --paragraph-font: "Poppins", "Tsukimi Rounded", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #017dd6;  /* headlines on a white background */ 
  --headline-color-on-color: #076B0A; /* headlines on a colored background */ 
  --paragraph-color-on-white: #5e63b6; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #f5c7f7  ;
  --nav-link-color: #a393eb;
  --nav-background-color: #5e63b6;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #017dd6;
}

nav  {
  list-style-type: none;
  display: flex;
}

nav a {
  line-height: 3em;
  text-align: left;
  font-size: 1.5em;
  margin: auto;
}

nav img {
  width: 300px;
  height: 200px;
  border: 2px solid #5e63b6;
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

body {
  background-color: #f5c7f7;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  grid-column-gap: 20px;
  position: absolute;
}

#waterfall-image {
  grid-column: 5;
  grid-row: 2;
  border: 2px solid black;
  border-radius: 25px;
  width: 400px;
  height: 400px;
}

#quotes {
  grid-column: 12;
  grid-row: 2;
  border: 2px solid black;
  border-radius: 25px;
  width: 300px;
  height: 300px;

}

#courtney {
  grid-column: 9;
  grid-row: 5;
  border: 2px solid black;
  border-radius: 25px;
  
}

#reviews {
  grid-column: 12;
  grid-row: 7;
  border: 2px solid black;
  border-radius: 25px;
  height: 300px;
  width: 400px;
  text-align: center;
  overflow: auto;
}

#cabin {
  grid-column: 5;
  grid-row: 7;
  border: 2px solid black;
  border-radius: 25px;
  width: 400px;
  height: 300px;
}

footer {
  background-color: #62DD5E;
  padding: 25px 10px;
  margin-top: 950px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
}

footer a {
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
  font-family: Helvetica;
}

footer p a:hover {
  text-decoration: underline;
}